<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<context-param>
		<param-name>RSA_KEY_PAIR_PATH</param-name>
		<param-value>/export/home</param-value>
	</context-param>
	
	<context-param>
		<param-name>NEED_PASSPORT_NODE_DOMAINS</param-name>
		<param-value>apoollo.com,solr.apoollo.com</param-value>
	</context-param>
	
	<context-param>
		<param-name>SIGN_IN_COOKIES_NAME</param-name>
		<param-value>_apoollo_w_</param-value>
	</context-param>

	<context-param>
		<param-name>LOGIN_PAGE_URL</param-name>
		<param-value>//apoollo.com/login</param-value>
	</context-param>

	<context-param>
		<param-name>LOGIN_SUCCESS_URL</param-name>
		<param-value>//apoollo.com/super/view</param-value>
	</context-param>

	<context-param>
		<param-name>LOGIN_INIT_KEY</param-name>
		<param-value>69ba1c09e383ea646b6fffe6d3388dc</param-value>
	</context-param>
	
	<context-param>
		<param-name>UN_LOGIN_PATHS</param-name>
		<param-value>/</param-value>
	</context-param>
	
	<context-param>
		<param-name>IS_NEED_GENERATE_RSA</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<context-param>
		<param-name>PARAMETER_TICKET_KEY</param-name>
		<param-value>ticket</param-value>
	</context-param>
	
	 
	<servlet>
		<servlet-name>sso</servlet-name>
		<servlet-class>com.luna.security.brand.SSOServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>sso</servlet-name>
		<url-pattern>/sso</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>com.luna.security.brand.HelloServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	
	<listener>
		<listener-class>com.luna.security.brand.SecurityListener</listener-class>
	</listener>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext-web.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>com.luna.web.listener.CacheListener</listener-class>
	</listener>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>mvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:applicationContext-mvc.xml</param-value>
		</init-param>
		<init-param>
			<param-name>detectAllHandlerExceptionResolvers</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>mvc</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>500</error-code>
		<location>/static/resources/404.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/static/resources/404.html</location>
	</error-page>
</web-app>
