<#macro renderNode  node>
  <#switch node.resourcesContentHandlerCode>  
	    <#case 1>
	    	<#include "layout/layout_node_languge-html.html"/>	
	        <#break>  
	    <#case 2>
	    	<#include "layout/layout_node_languge-html.html"/>	
	        <#break>
	     <#case 3>
	     	<#include "layout/layout_node_tag-image.html"/>	
	     	<#break>  
	     <#case 4>
	     	<#include "layout/layout_node_tag-p.html"/>	
	     	<#break>  
	     <#case 5>
	     	<#include "layout/layout_node_tag-pre.html"/>		
	     	<#break>  
	    <#default>  
	    	<#include "layout/layout_node_tag-p.html"/>	
	        <#break>  
	</#switch>
</#macro>